﻿@model netcore.Models.Invent.Customer
@inject netcore.Data.ApplicationDbContext _context;

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
    ViewData["DeleteInfo"] = "Customer that already have transactions (SO) can not be deleted.";
    netcore.Models.Invent.SalesOrder salesOrder = _context.SalesOrder.Where(x => x.customerId.Equals(Model.customerId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (salesOrder == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="customerId" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="customerName" class="control-label"></label>
                        <input disabled asp-for="customerName" class="form-control" />
                        <span asp-validation-for="customerName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea disabled asp-for="description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Address</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="street1" class="control-label"></label>
                        <input disabled asp-for="street1" class="form-control" />
                        <span asp-validation-for="street1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="street2" class="control-label"></label>
                        <input disabled asp-for="street2" class="form-control" />
                        <span asp-validation-for="street2" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="city" class="control-label"></label>
                        <input disabled asp-for="city" class="form-control" />
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="province" class="control-label"></label>
                        <input disabled asp-for="province" class="form-control" />
                        <span asp-validation-for="province" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="country" class="control-label"></label>
                        <input disabled asp-for="country" class="form-control" />
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="size" class="control-label"></label>
                        <select disabled asp-for="size" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.BusinessSize>()"></select>
                        <span asp-validation-for="size" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
