﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string id = (string)ViewContext.RouteData.Values["id"];
    string entityIcon = ViewData["EntityIcon"] as string;
    var transMessage = TempData["TransMessage"];
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_AdminlteNetcoreBasicStyles")

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <i class="@entityIcon text-primary"></i> @controller Details
                </h1>
                <input type="hidden" id="transMessage" value="@transMessage" />
            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>
    <!-- ./wrapper -->


    @Html.Partial("_AdminlteNetcoreBasicScripts")

    <script>
        $(document).ready(function () {
            var transMessage = $("#transMessage").val();

            if (transMessage) {
                toastr.success(transMessage);
            }
        })
    </script>

    @RenderSection("Scripts", required: false)

    

</body>
</html>
