﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2019 <a href="#">INVENTORY - Extended Version</a>.</strong> All rights
    reserved.
</footer>