﻿@model netcore.Models.Invent.PurchaseOrder


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["CreateInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="purchaseOrderId" />
        <input type="hidden" asp-for="purchaseOrderNumber" />
        <input type="hidden" asp-for="purchaseOrderStatus" />
        <div class="row">
            <div class="col-md-12">
                <small class="text-yellow"><i>Summary</i></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="purchaseOrderNumber" class="control-label"></label>
                    <input asp-for="purchaseOrderNumber" class="form-control" disabled />
                    <span asp-validation-for="purchaseOrderNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="top" class="control-label">TOP</label>
                    <select asp-for="top" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.TOP>()"></select>
                    <span asp-validation-for="top" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="vendorId" class="control-label">Vendor</label>
                    <select asp-for="vendorId" class="form-control select2" asp-items="ViewBag.vendorId"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <textarea asp-for="description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="poDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="poDate" value="@Model.poDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                    </div>
                    <span asp-validation-for="poDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="deliveryDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="deliveryDate" value="@Model.deliveryDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                    </div>
                    <span asp-validation-for="deliveryDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="purchaseOrderStatus" class="control-label"></label>
                    <select asp-for="purchaseOrderStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.PurchaseOrderStatus>()" disabled></select>
                    <span asp-validation-for="purchaseOrderStatus" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small class="text-yellow"><i>Address</i></small>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="deliveryAddress" class="control-label"></label>
            <textarea asp-for="deliveryAddress" class="form-control" rows="3"></textarea>
            <span asp-validation-for="deliveryAddress" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small class="text-yellow"><i>Property</i></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="branchId" class="control-label">Branch</label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="referenceNumberInternal" class="control-label"></label>
                    <input asp-for="referenceNumberInternal" class="form-control" />
                    <span asp-validation-for="referenceNumberInternal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="referenceNumberExternal" class="control-label"></label>
                    <input asp-for="referenceNumberExternal" class="form-control" />
                    <span asp-validation-for="referenceNumberExternal" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-success">
                    <label asp-for="picInternal" class="control-label">Person in charge (Internal)</label>
                    <input asp-for="picInternal" class="form-control" />
                    <span asp-validation-for="picInternal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-success">
                    <label asp-for="picVendor" class="control-label">Person in charge (Vendor)</label>
                    <input asp-for="picVendor" class="form-control" />
                    <span asp-validation-for="picVendor" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <label asp-for="totalDiscountAmount" class="control-label"></label>
            <input asp-for="totalDiscountAmount" class="form-control" />
            <span asp-validation-for="totalDiscountAmount" class="text-danger"></span>
        </div>
        <div class="form-group hidden">
            <label asp-for="totalOrderAmount" class="control-label"></label>
            <input asp-for="totalOrderAmount" class="form-control" />
            <span asp-validation-for="totalOrderAmount" class="text-danger"></span>
        </div>
        <div class="form-group hidden">
            <label asp-for="purchaseReceiveNumber" class="control-label"></label>
            <input asp-for="purchaseReceiveNumber" class="form-control" />
            <span asp-validation-for="purchaseReceiveNumber" class="text-danger"></span>
        </div>


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
