﻿@model netcore.Models.Invent.TransferOrder

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-recycle";
    ViewData["DeleteInfo"] = "[Completed] Transfer Order (TO) can not be deleted. Rollback status to [Open] by deleting related Goods Issue and Goods Receive";
    ViewData["IsCanDeleted"] = false;
    if (Model.transferOrderStatus != netcore.Models.Invent.TransferOrderStatus.Completed
        && Model.isIssued == false
        && Model.isReceived == false)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="transferOrderNumber" class="control-label"></label>
                        <input disabled asp-for="transferOrderNumber" class="form-control" disabled />
                        <span asp-validation-for="transferOrderNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group has-success">
                <label asp-for="description" class="control-label"></label>
                <textarea disabled asp-for="description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="transferOrderDate" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="transferOrderDate" value="@Model.transferOrderDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                        </div>
                        <span asp-validation-for="transferOrderDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="transferOrderStatus" class="control-label"></label>
                        <select disabled asp-for="transferOrderStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.TransferOrderStatus>()"></select>
                        <span asp-validation-for="transferOrderStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row hidden">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="branchIdFrom" class="control-label"></label>
                        <select disabled asp-for="branchIdFrom" class="form-control select2" asp-items="ViewBag.branchIdFrom"></select>
                        <span asp-validation-for="branchIdFrom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="branchIdTo" class="control-label"></label>
                        <select disabled asp-for="branchIdTo" class="form-control select2" asp-items="ViewBag.branchIdTo"></select>
                        <span asp-validation-for="branchIdTo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="warehouseIdFrom" class="control-label"></label>
                        <select disabled asp-for="warehouseIdFrom" class="form-control select2" asp-items="ViewBag.warehouseIdFrom"></select>
                        <span asp-validation-for="warehouseIdFrom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="warehouseIdTo" class="control-label"></label>
                        <select disabled asp-for="warehouseIdTo" class="form-control select2" asp-items="ViewBag.warehouseIdTo"></select>
                        <span asp-validation-for="warehouseIdTo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-success">
                        <label asp-for="picName" class="control-label">Person in charge name</label>
                        <input disabled asp-for="picName" class="form-control" />
                        <span asp-validation-for="picName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
