﻿@model netcore.Models.Invent.Product
@inject netcore.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    ViewData["DeleteInfo"] = "Product that already have transactions (PO, SO, Transfer Order) can not be deleted.";
    netcore.Models.Invent.PurchaseOrderLine poline = _context.PurchaseOrderLine.Where(x => x.productId.Equals(Model.productId)).FirstOrDefault();
    netcore.Models.Invent.SalesOrderLine soline = _context.SalesOrderLine.Where(x => x.productId.Equals(Model.productId)).FirstOrDefault();
    netcore.Models.Invent.TransferOrderLine toline = _context.TransferOrderLine.Where(x => x.productId.Equals(Model.productId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (poline == null && soline == null && toline == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productId" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="productCode" class="control-label"></label>
                        <input disabled asp-for="productCode" class="form-control" />
                        <span asp-validation-for="productCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="productName" class="control-label"></label>
                        <input disabled asp-for="productName" class="form-control" />
                        <span asp-validation-for="productName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea disabled asp-for="description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="barcode" class="control-label"></label>
                        <input disabled asp-for="barcode" class="form-control" />
                        <span asp-validation-for="barcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="serialNumber" class="control-label"></label>
                        <input disabled asp-for="serialNumber" class="form-control" />
                        <span asp-validation-for="serialNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="productType" class="control-label"></label>
                        <select disabled asp-for="productType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ProductType>()"></select>
                        <span asp-validation-for="productType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="uom" class="control-label"></label>
                        <select disabled asp-for="uom" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.UOM>()"></select>
                        <span asp-validation-for="uom" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
