﻿@model netcore.Models.Invent.SalesOrder

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-cart-plus";
    ViewData["DeleteInfo"] = "[Completed] Sales Order (SO) can not be deleted. Rollback status to [Open] by deleting related Delivery Order (Shipment)";
    ViewData["IsCanDeleted"] = false;
    if (Model.salesOrderStatus != netcore.Models.Invent.SalesOrderStatus.Completed)
    {
        ViewData["IsCanDeleted"] = true;
    }

}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="salesOrderId" />
            <input type="hidden" asp-for="salesOrderNumber" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="salesOrderNumber" class="control-label"></label>
                        <input disabled asp-for="salesOrderNumber" class="form-control" />
                        <span asp-validation-for="salesOrderNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="top" class="control-label">TOP</label>
                        <select disabled asp-for="top" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.TOP>()"></select>
                        <span asp-validation-for="top" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="customerId" class="control-label">Customer</label>
                        <select disabled asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea disabled asp-for="description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="soDate" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="soDate" value="@Model.soDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                        </div>
                        <span asp-validation-for="soDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="deliveryDate" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="deliveryDate" value="@Model.deliveryDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                        </div>
                        <span asp-validation-for="deliveryDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="salesOrderStatus" class="control-label"></label>
                        <select disabled asp-for="salesOrderStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.SalesOrderStatus>()"></select>
                        <span asp-validation-for="salesOrderStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Address</i></small>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="deliveryAddress" class="control-label"></label>
                <textarea disabled asp-for="deliveryAddress" class="form-control" rows="3"></textarea>
                <span asp-validation-for="deliveryAddress" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="branchId" class="control-label">Branch</label>
                        <select disabled asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                        <span asp-validation-for="branchId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="referenceNumberInternal" class="control-label"></label>
                        <input disabled asp-for="referenceNumberInternal" class="form-control" />
                        <span asp-validation-for="referenceNumberInternal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="referenceNumberExternal" class="control-label"></label>
                        <input disabled asp-for="referenceNumberExternal" class="form-control" />
                        <span asp-validation-for="referenceNumberExternal" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="picInternal" class="control-label">Person in charge (Internal)</label>
                        <input disabled asp-for="picInternal" class="form-control" />
                        <span asp-validation-for="picInternal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="picCustomer" class="control-label">Person in charge (Customer)</label>
                        <input disabled asp-for="picCustomer" class="form-control" />
                        <span asp-validation-for="picCustomer" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group hidden">
                <label asp-for="totalDiscountAmount" class="control-label"></label>
                <input disabled asp-for="totalDiscountAmount" class="form-control" />
                <span asp-validation-for="totalDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="totalOrderAmount" class="control-label"></label>
                <input disabled asp-for="totalOrderAmount" class="form-control" />
                <span asp-validation-for="totalOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="salesShipmentNumber" class="control-label"></label>
                <input disabled asp-for="salesShipmentNumber" class="form-control" />
                <span asp-validation-for="salesShipmentNumber" class="text-danger"></span>
            </div>


        </div>
    </div>

</div>
