﻿@model netcore.Models.Invent.SalesOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-cart-plus";
   
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="salesOrderId" />
                        <input type="hidden" asp-for="salesOrderNumber" />
                        <input type="hidden" asp-for="salesOrderStatus" />
                        <div class="row">
                            <div class="col-md-12">
                                <small class="text-yellow"><i>Summary</i></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="salesOrderNumber" class="control-label"></label>
                                    <input disabled asp-for="salesOrderNumber" class="form-control" />
                                    <span asp-validation-for="salesOrderNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="top" class="control-label">TOP</label>
                                    <select disabled asp-for="top" class="form-control " asp-items="Html.GetEnumSelectList<netcore.Models.Invent.TOP>()"></select>
                                    <span asp-validation-for="top" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="customerId" class="control-label">Customer</label>
                                    <select disabled asp-for="customerId" class="form-control " asp-items="ViewBag.customerId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="description" class="control-label"></label>
                            <textarea disabled asp-for="description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="soDate" class="control-label"></label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled asp-for="soDate" value="@Model.soDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                                    </div>
                                    <span asp-validation-for="soDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="deliveryDate" class="control-label"></label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled asp-for="deliveryDate" value="@Model.deliveryDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                                    </div>
                                    <span asp-validation-for="deliveryDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="salesOrderStatus" class="control-label"></label>
                                    <select disabled asp-for="salesOrderStatus" class="form-control " asp-items="Html.GetEnumSelectList<netcore.Models.Invent.SalesOrderStatus>()"></select>
                                    <span asp-validation-for="salesOrderStatus" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="text-yellow"><i>Address</i></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="deliveryAddress" class="control-label"></label>
                            <textarea disabled asp-for="deliveryAddress" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="deliveryAddress" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="text-yellow"><i>Property</i></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="branchId" class="control-label">Branch</label>
                                    <select disabled asp-for="branchId" class="form-control " asp-items="ViewBag.branchId"></select>
                                    <span asp-validation-for="branchId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="referenceNumberInternal" class="control-label"></label>
                                    <input disabled asp-for="referenceNumberInternal" class="form-control" />
                                    <span asp-validation-for="referenceNumberInternal" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="referenceNumberExternal" class="control-label"></label>
                                    <input disabled asp-for="referenceNumberExternal" class="form-control" />
                                    <span asp-validation-for="referenceNumberExternal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label asp-for="picInternal" class="control-label">Person in charge (Internal)</label>
                                    <input disabled asp-for="picInternal" class="form-control" />
                                    <span asp-validation-for="picInternal" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label asp-for="picCustomer" class="control-label">Person in charge (Customer)</label>
                                    <input disabled asp-for="picCustomer" class="form-control" />
                                    <span asp-validation-for="picCustomer" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label asp-for="totalDiscountAmount" class="control-label"></label>
                            <input disabled asp-for="totalDiscountAmount" class="form-control" />
                            <span asp-validation-for="totalDiscountAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group hidden">
                            <label asp-for="totalOrderAmount" class="control-label"></label>
                            <input disabled asp-for="totalOrderAmount" class="form-control" />
                            <span asp-validation-for="totalOrderAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group hidden">
                            <label asp-for="salesShipmentNumber" class="control-label"></label>
                            <input disabled asp-for="salesShipmentNumber" class="form-control" />
                            <span asp-validation-for="salesShipmentNumber" class="text-danger"></span>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.salesOrderId" class="btn btn-primary">Edit</a>
                    <a asp-action="ShowSalesOrder" asp-route-id="@Model.salesOrderId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Sales Order</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
        @await Html.PartialAsync("~/Views/Shared/_AdminlteNetcoreTimeline.cshtml")
    </div>
</div>


<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">Product</th>
                                    <th class="col-lg-3">Qty</th>
                                    <th class="col-lg-3">Price</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","SalesOrderLine", new { masterid = Model.salesOrderId })')"><i class="fa fa-plus"></i> Add New SalesOrderLine</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
        
    </div>
</div>



    <!--modal placeholder-->
    <div class="modal modal-primary fade" id="modalDefault">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
@section Scripts{
      <script>
        var popup, dataTable;
        var entity = 'SalesOrderLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.salesOrderId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "product.productCode" },
                    { "data": "qty" },
                    { "data": "price" },
                    {
                        "data": "salesOrderLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            
                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });
            });


        }

      </script>
}

